extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Poll &amp; Vote Now
    p.lead A voting App that suits everyone's needs
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started


