nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
  #navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container
      a.navbar-brand(href='/')
        i.icn-logo.material-icons &#10001;
        | Pollover
      .nav-items.clearfix
        a.nav-item.nav-link(href='about') About
      if currentUser
        div
          a.nav-item.nav-link(href='profile') Hi #{name} 
          a.btn.btn-light.pull-md-right(href='/logout') Log out
      else
        a.btn.btn-info.pull-md-right(href='register') Sign Up
        a.btn.btn-info.pull-md-right(href='login') Login