extends layout

block content
  .main.container.clearfix
    .row.text-xs-center
      .col-md-8.col-md-offset-2
        h1.display-3 DASHBOARD
        a.btn.btn-info-outline.btn-lg(href='') New Poll
        a.btn.btn-info-outline.btn-lg(href='') My Polls