extends layout

block content
	.main.container.clearfix
		.row.text-xs-center
			.col-md-8.col-md-offset-2
				h1.display-3.md-4 #{poll}  
		.row.text-xs-center
			.col-md-4.col-md-offset-1
				// vote form
				form(method='POST' action='')
					each answer, index in answers
						div.form-group.radio
						label(for='choice')= answer.text
						input(type='radio' name='choice' value=index)
					button.btn.btn-primary(type='submit') Vote